@charset "utf-8";
.heml .body{
    margin: 0;
    padding: 0;
    width: 100%;
    text-decoration: none;
}
.tohome{
    position: fixed;
}
.tohome img{
    margin-top: 0px;
    margin-left: 3%;
}
.menu{
    margin-top: 0px;
    width: 70%;
    margin-left: 17%;
    display: block;
    position: fixed;
}
.menu a{
    color: #bd0fe9;
    float:left;
    width: 19%;
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
    transition: 0.4s;
    text-align: center;
    font-family: Verdana;
    text-decoration: none;
    background-color: #ffffff90;
}
.menu a:hover{
    color:#ffffff;
    background-color: #bd0fe96f;
    transition: 0.3s;
}
#thispage{
    background: #bd0fe96f;
    color:#ffffff;
    transition: 0.4s;
}
#thispage:hover{
    background-color: #ffff;
    color:#bd0fe9;
    transition: 0.3s;
}
#background{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 102px;
    font-size: 100%;
    margin-top: -3%;
}

.ending {
    position: relative;
    font-family: serif;
    color: #ffff;
    font-size: 100%;
    text-align: center;
    background-color: #bd0fe96f;
    background-size: 100%;
    height: 30%;
    margin-left: -1%;
    margin-bottom: -1%;
    margin-right: -0.4%;
}
#iru{
    font-size: 1%;
    color:#ffff;
}
a{
    text-decoration: none;
    color: #bd0fe9;
    transition: 0.4s;
}
.activityplace a:hover{
    text-decoration: underline;
    transition: 0.3s;
}

.history, .members, .activityplace{
    display: block;
    margin: auto;
    width: 700px;
}
h2{
    font-size: 300%;
    margin-top: 30%;
}
h3{
    position: absolute;
    font-size : 200%;
    width: 700px;
    text-align: right;
    color: #bd0fe9;
}
.history p, .activityplace p{
    font-size: 150%;
    margin-left: 10%;
}
.members {
    position: relative;
    margin-top: 50%;
}
.members img, .activityplace img{
    position: relative;
    width: 700px;
    display: block;
    text-align: left;
    border:solid 5px #bd0fe96f;
    border-radius: 70px;
    z-index: 90;
    transition: 1s;
}
.members img{
    margin-bottom: 70%;
}
.members p{
    display:block;
    position: absolute;
    font-size: 150%;
    width: 700px;
    color: #bd0fe9;
    text-align: right;
    z-index: 89;
    line-height: 200%;
    margin-top: 25%;
}
.members img:hover{
    width: 500px;
    z-index: 0;
    transition: 1s;
    margin-left: 0px;
}
.activityplace{
    margin-top: -20%;
}