@charset "utf-8";
li{
    list-style: none;
}
.tohome{
    position: fixed;
}
.tohome img{
    margin-top: 0px;
    margin-left: 3%;
}
.menu{
    margin-top: 0px;
    width: 70%;
    margin-left: 17%;
    position: fixed;
}
.menu a{
    color: #bd0fe9;
    float:left;
    width: 19%;
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
    transition: 0.4s;
    text-align: center;
    font-family: Verdana;
    text-decoration: none;
}
.menu a:hover{
    color:#ffffff;
    background-color: #bd0fe96f;
    transition: 0.3s;
}
#thispage{
    background: #bd0fe96f;
    color:#ffffff;
    transition: 0.4s;
}
#thispage:hover{
    background-color: #ffff;
    color:#bd0fe9;
    transition: 0.3s;
}
#background{
    position: fixed;
    background-color: #ffffff;
    width: 102%;
    height: 102px;
    font-size: 100%;
    margin-top: -3%;
    margin-left: -1%;
}
#iru{
    font-size: 1%;
    color: #ffff;
}
#desktop{
    width: 101%;
    border:solid 5px #bd0fe96f;
    margin: 2% auto 5% -0.7%;
}
.ending {
    position: relative;
    font-family: serif;
    color: #ffff;
    font-size: 100%;
    text-align: center;
    background-color: #bd0fe96f;
    background-size: 100%;
    height: 30%;
    margin-left: -1%;
    margin-bottom: -1%;
    margin-right: -0.4%;
    margin-top: 300%;
}
.soft{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    display: block;
}
.soft h2{
    font-size: 250%;
    margin-top: 10%;
}
.soft video{
    border:solid 2px #bd0fe96f;
    border-radius: 10px;
    transition:0.6s;
}
.soft video:hover{
    width:20%;
    transition: 0.5s;
}
.soft a{
    text-decoration: none;
    color: #bd0fe9;
    transition: 0.4s;
}
.soft a:hover{
    text-decoration: underline;
    transition: 0.3s;
}
.open{
    position: fixed;
    z-index: 99999;
    cursor: pointer;
    width: 80px;
    height: 50px;
    margin: 0% auto auto 95%;
}
.open span{
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background-color: #bd0fe9;
    width:50%;
    margin-left: -35%;
}
.open span:nth-of-type(1){
    top: 15px;
}
.open span:nth-of-type(2){
    top: 23px;
}
.open span:nth-of-type(3){
    top: 31px;
}
.open.active span:nth-of-type(1){
    top: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}
.open.active span:nth-of-type(2){
    opacity: 0;
}
.open.active span:nth-of-type(3){
    top: 30px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#g-nav.panelactive #g-nav-list{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scoroling: touch;
}

#g-nav ul{
    position: absolute;
    z-index: 999;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul{
    list-style: none;
    text-align: center;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    line-height: 250%;
}

#g-nav{
    position: fixed;
    z-index: 999;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    transition: all 0.6s;
}

#g-nav.panelactive{
    right: 0;
}
.g-nav-list ul li a{
    color: #bd0fe9;
    font-size: 400%;
    text-align: center;
    transition: 0.3s;
    width: 100%;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
}
.g-nav-list ul li a:hover{
    color:#ffffff;
    background-color: #bd0fe96f;
    transition: 0.3s;
}
@media screen and (max-width: 1000px) {
    .menu{
        display: none;
    }
    #background{
        display: none;
    }
    #desktop{
        margin-top: 5%;
    }
}
@media screen and (min-width: 1000px) {
    .open{
        display: none;
    }
}