@charset "utf-8";
html, body{
    width: 700px;
    padding: 0;
    display: block;
    margin: auto;
}
a{
    text-decoration: none;
}
.top{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 3%;
}
.intro{
    text-align: center;
    margin-top: 2%;
    font-family: 'Tile Neon', serif;
}
.app{
    text-decoration: none;
    width: 700px;
    text-align: center;
}
.oneapp{
    width: 20%;
    float: left;
    border: solid 2px rgba(255, 255, 255, 0);
    border-radius: 10%;
    margin: 1%;
    margin-top: 5%;
    padding: 5% 5% 0% 5%;
    background: #8FE4FF;
    transition: 0.3s;
}
.oneapp:hover{
    background: rgba(255, 255, 255, 0.663);
    transition: 0.3s;
}
.oneapp p{
    font-size: 150%;
    font-family: 'Nanum Gothic', sans-serif;
}
#nq p{
    color: #797979;
}
#denntaku p{
    color: #43a4ff;
}
#admix p{
    color: #000000;
}
#fx p{
    color:#9f1ae6;
}
#clock p{
    color: #ff0000;
}
#type p{
    color: #000000;
}
#nasa p{
    color: #1c1c91;
}