@charset "utf-8";
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}
body{
    background: linear-gradient(0deg, #ffff006e, #f29bff00);
    display: block;
    margin: auto;
}
.top img{
    position: absolute;
    top: 2%;
    left: 1%;
}
.stock select{
    font-size: 150%;
    float: left;
    margin: -1% 1% 1% 1%;
    font-family: 'Bebas Neue';
    text-align: center;
    transition: 0.3s;
    border: solid 2px #ffff003d;
    border-radius: 10px;
    background-color: #ffff003d;
}
.select1{
    margin-left: 10%;
}
.graghframe{
    width: 70%;
    display: block;
    bottom: 0%;
    margin: 3% auto auto auto;
    border: solid 2px #ffff;
    background-color: #ffffff93;
    padding:1% 2% 2% 2%;
    border-radius: 20px;
}