@charset "utf-8";
.tohome{
    position: fixed;
}
.tohome img{
    margin-top: 0px;
    margin-left: 3%;
}
.menu{
    margin-top: 0px;
    width: 70%;
    margin-left: 17%;
    display: block;
    position: fixed;
}
.menu a{
    color: #bd0fe9;
    float:left;
    width: 19%;
    border-right: solid 1px #000000;
    border-left: solid 1px #000000;
    transition: 0.4s;
    text-align: center;
    font-family: Verdana;
    text-decoration: none;
    background-color: #ffffff90;
}
.menu a:hover{
    color:#ffffff;
    background-color: #bd0fe96f;
    transition: 0.3s;
}
#thispage{
    background: #bd0fe96f;
    color:#ffffff;
    transition: 0.4s;
}
#thispage:hover{
    background-color: #ffff;
    color:#bd0fe9;
    transition: 0.3s;
}
#background{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 102px;
    font-size: 100%;
    margin-top: -3%;
}
.history, .activityplace, .members h2{
    display: block;
    width: 700px;
    margin: auto;
}
.aboutus h2{
    font-size: 250%;
    margin-top: 10%;
}
.aboutus h3{
    font-family: 'Trebuchet MS';
    font-size: 200%;
    margin-left: 5%;
    margin-top: 5%;
}
.history p{
    font-family: serif;
    font-size: 130%;
    margin-left: 5%;
    margin-bottom: 30%;
}
.aboutus  li{
    list-style: none;
}
.members img{
    display: block;
    margin: auto;
    position: relative;
    transition:1s;
    border:solid 2px #bd0fe96f;
    border-radius: 10px;
}
.members img:hover{
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    transition: 1s;
}
.members p{
    color: #ffffff;
    font-family: serif;
    display: block;
    font-size:130%;
    margin-left: -70%;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: -30%;
}
.members h2{
    margin-top: 10%;
    display: block;
    width: 700px;
    margin: auto;
}
.members h3{
    position: absolute;
    color:#ffffff;
}
.activityplace h2{
    margin-top: 30%;
}
.activityplace p{
    margin-left: 5%;
    font-family: serif;
    font-size: 130%;
}
.activityplace img{
    margin-left: 5%;
    border:solid 2px #bd0fe96f;
    border-radius: 10px;
}
.activityplace a{
    text-decoration: none;
    color: #bd0fe9;
    transition: 0.4s;
}
.activityplace a:hover{
    text-decoration: underline;
    transition: 0.3s;
}
.ending {
    position: relative;
    font-family: serif;
    color: #ffff;
    font-size: 100%;
    text-align: center;
    background-color: #bd0fe96f;
    background-size: 100%;
    height: 30%;
    margin-top: 10%;
    margin-left: -22%;
    margin-right: -21%;
}
#iru{
    font-size: 1%;
    color:#ffff;
}