@charset 'utf-8';
#home{
    display: block;
    margin: auto;
    margin-top: 1%;
    width: 20%;
}

.number{
    margin-left: 25%;
    width: 25%;
    text-align: center;
    font-size: 150px;
    margin-top: -5%;
    position: absolute;
}

.number p{
    background-color: #c300ff84;
    border: solid 1px #C400FF;
    border-radius: 50px;
}
.button{
    float: left;
    margin-left: 50%;
    font-size: 70px;
    position: absolute;
    width: 10%;
    text-align: center;
    color: #c300ff84;
    margin-top: 1%;
}
#sumbutton{
    position: absolute;
    margin-top: 60%;
}
#recordbutton{
    position: absolute;
    margin-top: 60%;
    margin-left: 130%;
}
.record li{
    float: left;
    list-style: none;
    width: 10%;
    margin-left: 5%;
    margin-top: 30%;
    background-color: #c300ff84;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
}
@media screen and (max-width: 1000px) {
    #home{
        width: 70%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .number{
        width: 100%;
        margin-top: -10%;
        margin-left: 0%;
        position: absolute;
    }
    .button{
        float: clear;
        margin-left: -10%;
        position: relative;
    }
    #sumbutton{
        margin-top: 400%;
        margin-left: 250%;
        width: 200%;
        position: absolute;
    }
    #recordbutton{
        margin-top: 400%;
        margin-left: 650%;
        width: 200%;
        position: absolute;
    }
    .record li{
        position: relative;
        float: left;
        list-style: none;
        width: 50%;
        margin-left: 0%;
        background-color: #c300ff84;
        border-radius: 50px;
        text-align: center;
        font-size: 50px;
        margin-top: 75%;
        margin-bottom: -70%;
    }
}