@charset 'utf-8';
html{
    margin: 0;
    padding: 0;
    width: 100%;
    border: solid 1px #ffffff00;
}
h1{
    font-size: 40px;
    font-family: 'Ubuntu';
}
p{
    font-size: 20px;
}
a{
    color: #000000d8;
    text-decoration: none;
}
li{
    list-style: none;
}
#tohome{
    width: 8%;
    margin: 0.5% auto auto 0%;
    position: fixed;
}
#topimg{
    width: 20%;
    margin: 3% auto auto 40%;
}
.menu{
    margin-top: -2%;
    margin-left: -6%;
    width: 25%;
    position: fixed;
    border:solid 1px #ffffff00;
    border-radius: 50px;
    background-color: #ffffffa7;
    height: 80%;
}
.menu li{
    margin-left: 30%;
    margin-top: 15%;
    position: relative;
    font-size: 35px;
    color: #224bddd8;
    font-family: 'Ubuntu';
}
.formenuborder{
    border: solid 2px #224bddd8;
    width: 40%;
    border-radius: 50px;
    margin: auto auto 3% 28%;
}
.menu a{
    position: relative;
    font-size: 20px;
    color: #000000;
}
.menu a p{
    font-family: 'Ubuntu';
    margin: auto auto auto 33%;
    background-color: #224bdd4d;
    width: 50%;
    padding: 1% 1% 1% 5%;
    border: solid 1px #ffffff00;
    border-radius: 15px;
    transition: 0.3s;
    font-weight: bold;
}
.menu a p:hover{
    background-color: #224bdd2c;
    transition: 0.3s;
}
#newest{
    font-size: 45px;
    margin: 1% auto auto 27%;
    color: #224bddd8;
    font-family: 'Ubuntu';
}
.articles{
    width: 50%;
    display: block;
    margin: auto;
    border: solid 2px #224bdd00;
    border-radius: 70px;
    background-color: #224bdd4d;
    margin: 2% auto auto auto;
    transition: 0.3s;
}
.articles:hover{
    background-color: #224bdd2c;
    transition: 0.3s;
}
.articles h1{
    margin: 3% auto auto 6%;
}
.articles p{
    margin: 0% auto auto 70%;
    font-family: 'Ubuntu';
}
.articles img{
    border-radius: 10px;
    width: 70%;
    margin: 2% auto 3% 15%;
    position: relative;
}
#forborder1{
    border-top:solid 5px #224bddd8;
    border-radius: 50px;
    width: 50%;
    margin-left: 25%;
    margin-top: 0.5%;
}
#forborder2{
    border-top:solid 5px #224bddd8;
    border-radius: 50px;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}
.ending{
    display: block;
    margin: auto;
    background-color: #224bdd4d;
    height: 90px;
    margin: 100% -0.4% -1% -0.5%;
}
.ending p{
    color: #ffffff;
    text-align: center;
    padding-top: 2%;
}
.x, .blog{
    position: relative;
}
.x img{
    position: absolute;
    margin: 101.5% auto auto 94%;
    width: 3%;
}
.blog img{
    position: absolute;
    margin: 101.5% auto auto 89%;
    width: 3%;
}
#black:hover{
    display: none;
}
@media screen and (max-width: 1000px) {
    #tohome{
        width: 20%;
        margin: 2% auto auto 1%;
    }
    #topimg{
        display: none;
    }
    #newest{
        margin-left: 17%;
    }
    .articles{
        width: 70%;
    }
    #forborder1, #forborder2{
        width: 70%;
        margin-left: 15%;
    }
    .ending p{
        font-size: 25px;
        padding-top: 4.5%;
    }
    .x img{
        width: 10%;
        margin: 101.5% auto auto 87%;
    }
    .blog img{
        width: 10%;
        margin: 101.5% auto auto 76%;
    }
}