@charset "utf-8";
#top{
    position: relative;
    display: block;
    margin: auto;
}
#darkmode{
    position: absolute;
    display: block;
    left: 50px;
    top: 50px;
}
.clock{
    display: block;
    margin: auto;
    width: 700px;
}
.digitalclock p{
    font-size: 200%;
    text-align: center;
}
.analogclock{
    font-family: 'Georgia';
    font-size: 200%;
    display: block;
    margin: auto;
    position: relative;
    width:450px;
    height: 450px;
    border: 10px solid black;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
}
.clock12{
    position: absolute;
    top:3%;
    left:47%;
}
.clock1{
    position: absolute;
    top:8%;
    left:70%;
}
.clock2{
    position: absolute;
    top:24%;
    left:85%;
}
.clock3{
    position: absolute;
    top: 45%;
    left: 91%;
}
.clock4{
    position: absolute;
    top:66%;
    left:85%;
}
.clock5{
    position: absolute;
    top:82%;
    left:70%;
}
.clock6{
    position: absolute;
    top: 90%;
    left: 48%;
}
.clock7{
    position: absolute;
    top:82%;
    left:27%;
}
.clock8{
    position: absolute;
    top:68%;
    left:10%;
}
.clock9{
    position: absolute;
    top: 45%;
    left: 4%;
}
.clock10{
    position: absolute;
    top:24%;
    left:10%;
}
.clock11{
    position: absolute;
    top:9%;
    left:26%;
}
.edgehour{
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 5px);
    width: 10px;
    height: 120px;
    border-radius:20px;
    background:rgb(255, 0, 0);
    transform-origin: bottom;
    transform: rotate(0deg);
}
.edgeminute{
    position: absolute;
    top: calc(50% - 200px);
    left : calc(50% - 2px);
    width: 5px;
    height: 200px;
    border-radius:10px;
    background: rgb(255, 0, 0);
    transform-origin: bottom;
    transform : rotate(0deg);
}
.edgesecond{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 1px);
    width: 2px;
    height: 200px;
    background:rgb(0, 0, 0);
    transform-origin: bottom;
    transform: rotate(0deg);
}
#circle{
    top: 47%;
    left:46.5%;
    position: absolute;
    width:30px;
    height: 30px;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    body{
        width: 100%;
    }
    #darkmode{
        margin-top: 30%;
        margin-left: 0%;
        width: 20%;
    }
    .clock{
        position: relative;
        display: block;
        margin: auto;
        width: 100%;
        margin-top: -10%;
    }
    #top{
        width: 100%;
        text-align: center;
    }
    .analogclock{
        margin-top: 50%;
    }
    .digitalclock p{
        font-size: 250%;
        text-align: center;
    }
}
