@charset 'utf-8';
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.random{
    width: 50%;
    display: block;
    margin: auto;
}
#home{
    position: absolute;
    margin: -1% auto auto 1%;
}
.number{
    margin: 5% auto 0% auto;
}
.number p{
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 500%;
    border: solid 2px #31BB00;
    border-radius: 10px;
    background-color: #32bb0079;
    text-align: center;
}
.range{
    position: relative;
    margin-top: -5%;
    text-align: center;
}
.range li{
    list-style: none;
    margin-bottom: 1%;
    font-size: 150%;
}
.range input{
    background-color: #32bb0079;
    border: solid 2px #31BB00;
    border-radius: 5px;
    font-size: 150%;
    font-family: 'Ubuntu';
}
.generate input{
    position: absolute;
    display:none;
}
#show{
    border: solid 2px #68f11300;
    background-color: #68f11300;
    border-radius: 10%;
    margin-left: 35%;
    margin-top: 0%;
    position: relative;
    width: 30%;
    font-size: 150%;
    transition: 0.3s;
}
/*
#show:hover{
    border: solid 2px #31BB00;
    background-color: #32bb004d;
    transition: 0.3s;
    border-radius: 10%;
}
*/
@media screen and (max-width: 700px) {
    .random{
        width: 100%;
    }
    #home{
        margin-left: 0%;
        margin-top: 0%;
        width: 200px;
    }
    .number{
        padding-top: 5%;
        width: 150%;
    }
    .range{
        position: relative;
        margin-top: 0%;
        width: 100%;
    }
    #show{
        position: relative;
        display: block;
        margin: 20% auto auto 35%;
        width: 70%;
    }
}